html{
    font-size: 10px;
}

*{
    margin: 0px;
    padding: 0px;
}

.mainWrapper{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
}

.container{
    height: 5vh;
    width: 45vw;
    background-color:antiquewhite;
    margin:15rem 37rem;
    position: absolute;
    padding: 5rem;

}
label{
    font-size: 2rem;
}
input{
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}
button{
    background-color: green;
    border: none;
    outline: none;
    margin-left: 1rem;
    padding: 6px;
    font-size: 2rem;
    color: white;
}